[Desktop Entry]
Name=Skype
Comment=Skype Internet Telephony
Comment[ru]=Интернет-телефон Skype
Exec=env PULSE_LATENCY_MSEC=60 skype %U
Icon=skype
Terminal=false
Type=Application
Categories=Network;
